<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artista Cantuarias Mukarcel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/pinturas.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid menu">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">Cantuarias Mukarcel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item navmenu">
                            <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item navmenu">
                            <a class="nav-link active" aria-current="page" href="/html/pinturas.html">Pinturas</a>
                        </li>
                        <li class="nav-item navmenu">
                            <a class="nav-link active" aria-current="page" href="/html/cursos.html">Cursos</a>
                        </li>
                        <li class="nav-item navmenu">
                            <a class="nav-link active" aria-current="page" href="/html/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container-fluid galeria">
        <div class="row row-cols-2 align-items-center justify-content-center filas">
            <div class="col"><img src="/img/pintura1.jpg" alt=""></div>
            <div class="col">
                <h3>Atardecer de un nuevo mañana</h3>
                <h5>$xxx.xxx</h5>
                <div class="descripcion-pintura">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, amet maiores a voluptatum illo
                    dicta fugiat nostrum quis cumque illum praesentium! Dolores reprehenderit ipsam quae quibusdam
                    repellat dolore modi repellendus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
                    incidunt cumque tenetur debitis eligendi veniam quasi dolore aperiam nam. Vel officiis repellat
                    commodi aut nihil illum quia rem minus explicabo!
                </div>
                <button class="btn" type="button">Contacto del artista</button>
            </div>
            <div class="col"><img src="/img/pintura1.jpg" alt=""></div>
            <div class="col">
                <h3>Atardecer de un nuevo mañana</h3>
                <h5>$xxx.xxx</h5>
                <div class="descripcion-pintura">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, amet maiores a voluptatum illo
                    dicta fugiat nostrum quis cumque illum praesentium! Dolores reprehenderit ipsam quae quibusdam
                    repellat dolore modi repellendus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
                    incidunt cumque tenetur debitis eligendi veniam quasi dolore aperiam nam. Vel officiis repellat
                    commodi aut nihil illum quia rem minus explicabo!
                </div>
                <button class="btn" type="button">Contacto del artista</button>
            </div>
            <div class="col"><img src="/img/pintura1.jpg" alt=""></div>
            <div class="col">
                <h3>Atardecer de un nuevo mañana</h3>
                <h5>$xxx.xxx</h5>
                <div class="descripcion-pintura">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, amet maiores a voluptatum illo
                    dicta fugiat nostrum quis cumque illum praesentium! Dolores reprehenderit ipsam quae quibusdam
                    repellat dolore modi repellendus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
                    incidunt cumque tenetur debitis eligendi veniam quasi dolore aperiam nam. Vel officiis repellat
                    commodi aut nihil illum quia rem minus explicabo!
                </div>
                <button class="btn" type="button">Contacto del artista</button>
            </div>
            <div class="col"><img src="/img/pintura1.jpg" alt=""></div>
            <div class="col">
                <h3>Atardecer de un nuevo mañana</h3>
                <h5>$xxx.xxx</h5>
                <div class="descripcion-pintura">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, amet maiores a voluptatum illo
                    dicta fugiat nostrum quis cumque illum praesentium! Dolores reprehenderit ipsam quae quibusdam
                    repellat dolore modi repellendus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
                    incidunt cumque tenetur debitis eligendi veniam quasi dolore aperiam nam. Vel officiis repellat
                    commodi aut nihil illum quia rem minus explicabo!
                </div>
                <button class="btn" type="button">Contacto del artista</button>
            </div>
        </div>
    </div>








    <div class="container-fluid footer">
        <nav class="navbar" aria-label="">
            <div class="container-fluid" style="justify-content: left;">
                    <ul class="navbar-nav mb-2 mb-lg-0 row-cols-6" style="margin: 0% 0% 0% 1% !important;">
                        <li class="nav-item col-sm-7">
                            <a class="nav-link titleFooter" style="color: aliceblue; margin: -4% 0% 0% 0%;" aria-current="page"><h2>Cantuarias Mukarcel</h2></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav py-0 my-0 mb-2 mb-lg-0 row">
                        <li class="nav-item py-0 col-2 col-sm-7">
                            <a class="nav-link fonoFooter" style="color: aliceblue;" aria-current="page">Teléfono:</a>
                        </li>
                        <li>
                            <a class="nav-link fonoFooter" style="color: aliceblue;" aria-current="page">+56 xxx xxx xx</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </div>
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
</body>

</html>