@font-face {
    font-family: Darleston;
    src: url("/fonts/Darleston.otf");
}

@font-face {
    font-family: BackToBlack;
    src: url("/fonts/Back\ to\ Black\ Demo.ttf");
}

@font-face {
    font-family: Odstemplik;
    src: url("/fonts/odstemplik.otf");
}
@font-face {
    font-family: AlexBrush;
    src: url("/fonts/AlexBrush-Regular.ttf");
}

.menu{
    background: rgb(217,215,255);
    background: linear-gradient(45deg, #fbfbf4, #c5b4ab, #907168, #5b342c);

    border-bottom: 2px solid #5B342C;
    border-top: 2px solid #5B342C;
}

.navbar{
    padding: 0 !important;
}

.navbar-brand{
    font-family: AlexBrush;
    font-size: 30px;
    font-weight: 600;
    margin: 0% 2.5% 0% 0%;
}

.navmenu{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    margin: 0% 1%;
    transform: scaleY(1) scaleX(0.9);
}

.navmenu:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    margin: -1.5% -0.4% -2% 0%;
    transform: scaleY(1) scaleX(0.9);
    background-color: rgba(0, 0, 0, 0.068);
    border: 4px solid #0000002f;
    border-radius: 5px;
}

body{
    background-color: #f4fafbc4;
    background-image: url("/img/backgroundContent.png");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

.col{
    justify-content: center;
    align-items: center;
}

img{
    width : 80% !important;
    height: 350px !important;
    border: 18px ridge #d3bd4d;
    border-radius: 10px;  
    margin: 6% 0% 0% 8%;  
}

.descripcion-curso{
    font-family: Odstemplik;
    font-size: 20px;
    margin: 0% 20% 0% 0%;
}

h3{
    font-family: Darleston;
    font-size: 50px;
    font-weight: bolder;
}

h5{
    font-family: BackToBlack;
    font-size: 30px;
}

.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 5% 0% 0% 0%;
    width: 300px;
    background: url("/img/backgroundBtn.png") #f6f6f6 no-repeat left top;
    background-size: 300px 100px;
    background-blend-mode: hard-light;
    border-radius: 10px;
    border: 5px ridge #d3bd4d;
}

.btn:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 5% 0% 0% 0%;
    width: 300px;
    background: url("/img/backgroundBtn.png") #f6f6f6 no-repeat left top;
    background-size: 300px 100px;
    background-blend-mode: color-burn;
    border-radius: 10px;
    border: 5px ridge #000000;
}

.titleFooter{
    font-family: AlexBrush;
}

.fonoFooter{
    font-family: BackToBlack;
    font-size: 20px;
    padding: 0%;
}

.footer{
    background-color: black;
    margin: 8% 0% 0% 0%;
    padding: 2% 0% 0% 3%;
}     