@font-face {
    font-family: Darleston;
    src: url("/fonts/Darleston.otf");
}

@font-face {
    font-family: BackToBlack;
    src: url("/fonts/Back\ to\ Black\ Demo.ttf");
}

@font-face {
    font-family: Odstemplik;
    src: url("/fonts/odstemplik.otf");
}
@font-face {
    font-family: AlexBrush;
    src: url("/fonts/AlexBrush-Regular.ttf");
}

.col{
    justify-content: center;
    align-items: center;
}

img{
    width : 90% !important;
    height: 450px !important;
    border: 18px ridge #B0581A;
    border-radius: 10px;  
    margin: 3%;  
}

.descripcion-pintura{
    font-family: Odstemplik;
    font-size: 20px;
    margin: 0% 20% 0% 0%;
}

h3{
    font-family: Darleston;
    font-size: 50px;
    font-weight: bolder;
}

h5{
    font-family: BackToBlack;
    font-size: 30px;
}

.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 5% 0% 0% 0%;
    width: 40%;
    background: url("/img/backgroundBtn.png") #f6f6f6 no-repeat left top;
    background-size: 300px 100px;
    background-blend-mode: hard-light;
    border-radius: 10px;
    border: 5px ridge #B0581A;
}

.btn:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 18.1px;
    margin: 5% 0% 0% 0%;
    width: 40%;
    background: url("/img/backgroundBtn.png") #f6f6f6 no-repeat left top;
    background-size: 300px 100px;
    background-blend-mode: color-burn;
    border-radius: 10px;
    border: 5px ridge #000000;
}